body {
  background-color: #f7ecde;
}

.container h1 {
  font-family: Pacifico;
  font-size: 50px;
}

.container h1::before {
  content: "";
  position: absolute;
  background-color: #fec260;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.container h1:hover::before {
  height: 40px;
}

.container span {
  border-bottom: 2px dotted black;
}

.container h3 {
  margin-top: 30px;
  font-family: Righteous;
  background-image: linear-gradient(
    90deg,
    rgba(62, 165, 91, 1) 0%,
    rgba(180, 172, 73, 1) 100%
  );
  color: transparent;
  background-clip: text;
}

.input-data {
  font-family: PT Sans Caption;
}

.input-data button{
    width: 15%;
}
